.site-footer {
    @extend %padding-regular;
    display: inline-block;
    text-align: center;
    width: 100%;
    border-top: 1px solid $border-color;
    color: lighten($text-color, 64%);
    font-size: 0.8em;

    a {
        color: lighten($link-color, 30%);
    }

    .footer-icons {
        ul {
            list-style: none;
            li {
                display: inline;
            }
            a:hover {
                color: darken($link-color, 15%);
            }
        }
    }
}
